In [1]:
import pandas as pd

In [17]:
pd.options.display.max_rows = 999
df = pd.read_csv('naver_movie_story.csv')
df.tail()

,title,story,genre
52891,13 이어리,메건(캐서린)과 친구들은 법의학 실습을 위해 톰킨스(마이클 생크) 교수를 따라 폐교...,공포
52892,13 고스트,"어둠이 깊게 드리운 거대한 폐차장, 사이러스 일행은 12번째 가장 강력한 힘을 지닌...",공포
52893,108: 잠들 수 없는 시간,10년 전 논란의 연극 ≪불면증≫ 이후 사라졌던 무대연출가 ‘알마’젊은 여배우 ‘비...,공포
52894,100 피트,남편을 살해한 죄로 가택 연금형을 선고 받은 마니 왓슨(팜케 얀센 분)은 발목에 전...,공포
52895,0.0MHz,"에디슨의 마지막 발명품, 유령 탐지기? “증명할 수 없는 미스터리란 없다” 가지...",공포

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52896 entries, 0 to 52895
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   52896 non-null  object
 1   story   52896 non-null  object
 2   genre   52896 non-null  object
dtypes: object(3)
memory usage: 1.2+ MB

In [5]:
df.describe()

        title                              story  genre
count   52896                              52896  52896
unique  49090                              52214      8
top        하루  개봉 후 평점은 개봉당일 오전 9시 이후부터 입력가능합니다.    드라마
freq       15                                126  20211

In [7]:
df.genre.unique()

array(['액션', '애니메이션', '코미디', '다큐멘터리', '드라마', '에로', '판타지', '공포'],
      dtype=object)

In [11]:
df["genre"].value_counts()

드라마      20211
애니메이션     9406
다큐멘터리     7602
코미디       5478
액션        5033
공포        2352
에로        2170
판타지        644
Name: genre, dtype: int64

In [19]:
df.story[:10]

0    전 세계 파이터들이 모여 승자를 가리는 DOA경기 (데드 오어 얼라이브)가 열리는 ...
1    동료들과 은행을 털던 아미르는 돈 뭉치를 들고 도망친다. 사막의 한 마을에 몸을 숨...
2    {때는 전국시대, 끊이지 않는 전란(戰亂)이 만들어낸 '노부시'(野武士: 산적 무리...
3    그리스에 거주하는 미국인 기업가 브랙켄의 가족인 부인 엘렌, 아들 지미, 딸 수지가...
4    어느 해 7월 14일, 가의, 아군, 아강 등 7자매들은 아군이 이사를 가기 전날 ...
5    연방제 남북통일 1년 뒤 쿠데타가 일어나고 정국이 혼란스러워진 뒤, 특수부대원의 활...
6    동물적인 직감과 1초의 오차도 용납하지 않는 설계자 ‘렉스’철저한 계획 하에 움직이...
7    돈만 아는 어미니와 계부 밑에서 자란 스카이(정이건 분)는 반항심으로 비틀린 안하무...
8    최고의 첩보영화 '본 아이덴티티'가 TV판으로 재탄생했다! 최고의 액션스타 발 킬머...
9    공군 퇴역 후 은둔 생활을 하던 더그 마스터즈(Doug Masters: 제이슨 카디...
Name: story, dtype: object