# Object creation

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 9])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    9.0
dtype: float64

In [3]:
dates = pd.date_range('20200622', periods=6)
dates

DatetimeIndex(['2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25',
               '2020-06-26', '2020-06-27'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index = dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-06-22 -0.895777 -1.472342 -0.059816 -1.521978
2020-06-23 -0.287511 -0.238952 -0.240634 -0.173596
2020-06-24  0.104964 -2.155522 -1.350132 -1.147096
2020-06-25  0.548543 -1.966038  0.641060 -1.146076
2020-06-26  1.030842 -0.091226 -1.799670  1.083127
2020-06-27 -0.373667 -1.004357 -0.191546 -1.526776

In [7]:
df2 = pd.DataFrame({
    'a': 1.,
    'b': pd.Timestamp('20200622'),
    'c': pd.Series(1, index=list(range(4)), dtype = 'float32'),
    'd': np.array([3] * 4, dtype='int32'),
    'e': pd.Categorical(["test", "train", "test","train"]),
    'f': 'foo'
    
})
df2

     a          b    c  d      e    f
0  1.0 2020-06-22  1.0  3   test  foo
1  1.0 2020-06-22  1.0  3  train  foo
2  1.0 2020-06-22  1.0  3   test  foo
3  1.0 2020-06-22  1.0  3  train  foo

In [10]:
df2.dtypes # dtypes

a           float64
b    datetime64[ns]
c           float32
d             int32
e          category
f            object
dtype: object

df2.<tab>

# Viewing data

In [11]:
df.head()

                   A         B         C         D
2020-06-22 -0.895777 -1.472342 -0.059816 -1.521978
2020-06-23 -0.287511 -0.238952 -0.240634 -0.173596
2020-06-24  0.104964 -2.155522 -1.350132 -1.147096
2020-06-25  0.548543 -1.966038  0.641060 -1.146076
2020-06-26  1.030842 -0.091226 -1.799670  1.083127

In [12]:
df.tail(2)

                   A         B         C         D
2020-06-26  1.030842 -0.091226 -1.799670  1.083127
2020-06-27 -0.373667 -1.004357 -0.191546 -1.526776

In [13]:
df.index

DatetimeIndex(['2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25',
               '2020-06-26', '2020-06-27'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
df2.to_numpy()

array([[1.0, Timestamp('2020-06-22 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-06-22 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2020-06-22 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-06-22 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [ ]:
%time :