# Series

In [4]:
s = pd.Series(np.random.randint(10, size = 5), index = list('ABCDE'))
s

A    0
B    3
C    2
D    4
E    8
dtype: int64

In [5]:
s.index, s.values

(Index(['A', 'B', 'C', 'D', 'E'], dtype='object'), array([0, 3, 2, 4, 8]))

In [8]:
s["B"], s.B

(3, 3)

In [9]:
s["C"] = 10

In [10]:
s.C

10

In [11]:
s * 10

A      0
B     30
C    100
D     40
E     80
dtype: int64

In [12]:
s[['B', 'C']]

B     3
C    10
dtype: int64

In [13]:
s[2:]

C    10
D     4
E     8
dtype: int64

In [15]:
s[2: 2]

Series([], dtype: int64)

In [16]:
s2 = pd.Series({"G":3, "E":5})
s2

G    3
E    5
dtype: int64

In [19]:
result = s + s2
result

A     NaN
B     NaN
C     NaN
D     NaN
E    13.0
G     NaN
dtype: float64

In [23]:
result[result.isnull()] = s

In [24]:
result

A     0.0
B     3.0
C    10.0
D     4.0
E    13.0
G     NaN
dtype: float64

# DataFrame

#1

In [26]:
dataset = {
    "name":["dss", "fcamp"],
    "email":["emal", "email.net"]
}
dataset

{'name': ['dss', 'fcamp'], 'email': ['emal', 'email.net']}

In [29]:
df = pd.DataFrame(dataset)
df

    name      email
0    dss       emal
1  fcamp  email.net

# 2

In [30]:
df.rename(colums = {'a':'b'}, inplace = True)

TypeError: rename() got an unexpected keyword argument 'colums'

In [36]:
df = pd.DataFrame({
    "a" :['b'],
    "c" :['z']
})

In [37]:
df

   a  c
0  b  z

In [41]:
df.rename(columns = {'a':'y'})

   y  c
0  b  z