# API crawling

### Rest API

In [5]:
url = "https://api.darksky.net/forecast/{}/{},{}".format(key, lat, lng)
url

'https://api.darksky.net/forecast/1181bba0a7d7f1ec6799a80846a2a98f/37.8267,-122.4233'

In [6]:
# request.get
response = requests.get(url)
response

In [9]:
data = response.json()
data["timezone"], data["hourly"]["summary"]

('America/Los_Angeles', 'Clear throughout the day.')

In [10]:
def forecast(lat, lng):
    url = "https://api.darksky.net/forecast/{}/{},{}".format(key, lat, lng)
    response = requests.get(url)
    data = response.json()
    return data["timezone"], data["hourly"]["summary"]

In [11]:
forecast(37.565, 126.9780)

('Asia/Seoul', 'Mostly cloudy throughout the day.')

In [ ]:
response = reqeusts.get(url)
response

# HTTP STATUS CODE
- 2XX :SUCCESS
- 3XX :redirection
- 4XX :request error
- 5XX :server error

개발할땐 3번때는 False 로 놓으면 좋다

In [1]:
import requests

In [2]:
# 분석이 용이한 mobile page check # url not changed - 동적인 페이지 
# 크롬 개발자 모드 XHR 텝으로  json 포맷 확인가능
# 1. 웹서비스 분석 : url 찾기 (이부분이 중요하고 어렵다)
code, page_size, page = "KOSPI", 20, 1
#url = "https://m.stock.naver.com/api/json/sise/dailySiseIndexListJson.nhn?code=KOSPI&pageSize=20&page=4" 
url = "https://m.stock.naver.com/api/json/sise/\
dailySiseIndexListJson.nhn?code={}&pageSize={}&page={}".format(code, page_size, page)

url

'https://m.stock.naver.com/api/json/sise/dailySiseIndexListJson.nhn?code=KOSPI&pageSize=20&page=1'

크롤링을 위해 개발자모드에서 확인 할 내용: user-agent: Mozilla/5.0 (Macinto
서버에서 잘못된 요청으로 차단하지 않토록 확인해서 맞춰준다.

In [3]:
#2. requests, response : JSON(str)
response = requests.get(url)
response

In [4]:
#3. json(str) > json(dict) > make df
type(response.text)

str

In [5]:
# json 으로 str > df parsing
type(response.json())

dict

In [8]:
data = response.json()
data

{'result': {'siseList': [{'cd': 'KOSPI',
    'dt': '20200624',
    'ncv': 2164.22,
    'cv': 32.98,
    'cr': 1.55,
    'ov': 2145.93,
    'hv': 2170.89,
    'lv': 2143.91},
   {'cd': 'KOSPI',
    'dt': '20200623',
    'ncv': 2131.24,
    'cv': 4.51,
    'cr': 0.21,
    'ov': 2149.13,
    'hv': 2158.15,
    'lv': 2110.51},
   {'cd': 'KOSPI',
    'dt': '20200622',
    'ncv': 2126.73,
    'cv': -14.59,
    'cr': -0.68,
    'ov': 2126.38,
    'hv': 2142.88,
    'lv': 2122.1},
   {'cd': 'KOSPI',
    'dt': '20200619',
    'ncv': 2141.32,
    'cv': 7.84,
    'cr': 0.37,
    'ov': 2153.09,
    'hv': 2153.57,
    'lv': 2108.91},
   {'cd': 'KOSPI',
    'dt': '20200618',
    'ncv': 2133.48,
    'cv': -7.57,
    'cr': -0.35,
    'ov': 2134.35,
    'hv': 2145.13,
    'lv': 2120.29},
   {'cd': 'KOSPI',
    'dt': '20200617',
    'ncv': 2141.05,
    'cv': 3.0,
    'cr': 0.14,
    'ov': 2133.18,
    'hv': 2154.37,
    'lv': 2105.26},
   {'cd': 'KOSPI',
    'dt': '20200616',
    'ncv': 2138.05,
    'cv': 107.23,
    'cr': 5.28,
    'ov': 2091.09,
    'hv': 2138.08,
    'lv': 2079.02},
   {'cd': 'KOSPI',
    'dt': '20200615',
    'ncv': 2030.82,
    'cv': -101.48,
    'cr': -4.76,
    'ov': 2114.41,
    'hv': 2129.67,
    'lv': 2030.82},
   {'cd': 'KOSPI',
    'dt': '20200612',
    'ncv': 2132.3,
    'cv': -44.48,
    'cr': -2.04,
    'ov': 2088.24,
    'hv': 2137.12,
    'lv': 2084.63},
   {'cd': 'KOSPI',
    'dt': '20200611',
    'ncv': 2176.78,
    'cv': -18.91,
    'cr': -0.86,
    'ov': 2184.36,
    'hv': 2200.72,
    'lv': 2148.51},
   {'cd': 'KOSPI',
    'dt': '20200610',
    'ncv': 2195.69,
    'cv': 6.77,
    'cr': 0.31,
    'ov': 2187.91,
    'hv': 2200.68,
    'lv': 2178.12},
   {'cd': 'KOSPI',
    'dt': '20200609',
    'ncv': 2188.92,
    'cv': 4.63,
    'cr': 0.21,
    'ov': 2206.23,
    'hv': 2212.17,
    'lv': 2166.01},
   {'cd': 'KOSPI',
    'dt': '20200608',
    'ncv': 2184.29,
    'cv': 2.42,
    'cr': 0.11,
    'ov': 2215.6,
    'hv': 2217.21,
    'lv': 2174.96},
   {'cd': 'KOSPI',
    'dt': '20200605',
    'ncv': 2181.87,
    'cv': 30.69,
    'cr': 1.43,
    'ov': 2151.17,
    'hv': 2187.25,
    'lv': 2138.18},
   {'cd': 'KOSPI',
    'dt': '20200604',
    'ncv': 2151.18,
    'cv': 4.18,
    'cr': 0.19,
    'ov': 2181.64,
    'hv': 2191.0,
    'lv': 2139.68},
   {'cd': 'KOSPI',
    'dt': '20200603',
    'ncv': 2147.0,
    'cv': 59.81,
    'cr': 2.87,
    'ov': 2108.55,
    'hv': 2156.55,
    'lv': 2107.69},
   {'cd': 'KOSPI',
    'dt': '20200602',
    'ncv': 2087.19,
    'cv': 22.11,
    'cr': 1.07,
    'ov': 2061.45,
    'hv': 2089.43,
    'lv': 2059.14},
   {'cd': 'KOSPI',
    'dt': '20200601',
    'ncv': 2065.08,
    'cv': 35.48,
    'cr': 1.75,
    'ov': 2037.04,
    'hv': 2065.38,
    'lv': 2035.63},
   {'cd': 'KOSPI',
    'dt': '20200529',
    'ncv': 2029.6,
    'cv': 1.06,
    'cr': 0.05,
    'ov': 2018.37,
    'hv': 2038.89,
    'lv': 2006.62},
   {'cd': 'KOSPI',
    'dt': '20200528',
    'ncv': 2028.54,
    'cv': -2.66,
    'cr': -0.13,
    'ov': 2047.08,
    'hv': 2054.52,
    'lv': 2003.75}]},
 'resultCode': 'success'}

In [9]:
data = data["result"]["siseList"]

In [10]:
kospi_df = pd.DataFrame(data)
kospi_df.tail()

       cd        dt      ncv     cv    cr       ov       hv       lv
15  KOSPI  20200603  2147.00  59.81  2.87  2108.55  2156.55  2107.69
16  KOSPI  20200602  2087.19  22.11  1.07  2061.45  2089.43  2059.14
17  KOSPI  20200601  2065.08  35.48  1.75  2037.04  2065.38  2035.63
18  KOSPI  20200529  2029.60   1.06  0.05  2018.37  2038.89  2006.62
19  KOSPI  20200528  2028.54  -2.66 -0.13  2047.08  2054.52  2003.75

In [11]:
# function
def get_stock_data_crawler(code, page_size=20, page=1):
    url = "https://m.stock.naver.com/api/json/sise/\
dailySiseIndexListJson.nhn?code={}&pageSize={}&page={}".format(code, page_size, page)
    response = requests.get(url)
    data = response.json()["result"]["siseList"]
    return pd.DataFrame(data)

In [17]:
# KOSDAQ TEST
kosdaq = get_stock_data_crawler("KOSDAQ")
kosdaq.tail()

        cd        dt     ncv     cv    cr      ov      hv      lv
15  KOSDAQ  20200603  737.66  -5.92 -0.80  749.49  750.14  734.63
16  KOSDAQ  20200602  743.58   7.86  1.07  737.67  743.70  735.06
17  KOSDAQ  20200601  735.72  22.04  3.09  716.96  735.72  716.83
18  KOSDAQ  20200529  713.68   4.93  0.70  706.16  714.51  700.84
19  KOSDAQ  20200528  708.75 -15.84 -2.19  728.76  728.80  695.30

In [18]:
# KOSPI TEST
kospi = get_stock_data_crawler("KOSPI", 100)
kospi.tail()

       cd        dt      ncv     cv    cr       ov       hv       lv
95  KOSPI  20200206  2227.94  62.31  2.88  2184.77  2229.99  2182.25
96  KOSPI  20200205  2165.63   7.73  0.36  2177.26  2181.52  2154.88
97  KOSPI  20200204  2157.90  39.02  1.84  2121.22  2162.32  2120.53
98  KOSPI  20200203  2118.88  -0.13 -0.01  2086.61  2126.73  2082.74
99  KOSPI  20200131  2119.01 -28.99 -1.35  2160.60  2167.23  2119.01

# make WTI Crawling function

In [35]:
## USD Crawling
### 1. url analysis
marketIndexCd, pageSize, page = "OIL_CL", 20, 1

url = "https://m.stock.naver.com/api/json/marketindex/\
marketIndexDay.nhn?marketIndexCd={}&pageSize={}&page={}".format(marketIndexCd, pageSize, page)

print(url)

https://m.stock.naver.com/api/json/marketindex/marketIndexDay.nhn?marketIndexCd=OIL_CL&pageSize=20&page=1

In [36]:
response = requests.get(url)
response

In [37]:
response.text # need a login massage! cookie check!!

'{"result":{"errorMessage":"로그인이 필요한 서비스 입니다.\\n로그인 하시겠습니까?","errorCode":"authenticationFail"},"resultCode":"error"}'

In [41]:
# add cookie 
params = { "cookie" : "XSRF-TOKEN=f51022aa-ae62-4516-8fa8-63c6441f54c8; NNB=75ZZCSD3VLZF4; JSESSIONID=86A0D7DAB269412831AE4D3523679138; BMR="
    
}
response = requests.get(url, headers = params)
response

In [42]:
response.text

'{"result":{"errorMessage":"로그인이 필요한 서비스 입니다.\\n로그인 하시겠습니까?","errorCode":"authenticationFail"},"resultCode":"error"}'