# Object creation

In [5]:
s = pd.Series([1, 3, 5, np.nan, 6, 9])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    9.0
dtype: float64

In [6]:
dates = pd.date_range('20200622', periods=6)
dates

DatetimeIndex(['2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25',
               '2020-06-26', '2020-06-27'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6, 4), index = dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-06-22 -1.152733 -0.757929 -0.009056 -0.650712
2020-06-23  1.493513  0.788941 -0.571677 -0.687143
2020-06-24 -0.272768 -0.714189 -1.664763 -0.205026
2020-06-25 -0.421158 -0.050582  0.377544 -0.006294
2020-06-26  2.234978 -0.232680  1.132018  0.863665
2020-06-27  0.061454  0.141691  2.167741 -0.304397

In [8]:
df2 = pd.DataFrame({
    'a': 1.,
    'b': pd.Timestamp('20200622'),
    'c': pd.Series(1, index=list(range(4)), dtype = 'float32'),
    'd': np.array([3] * 4, dtype='int32'),
    'e': pd.Categorical(["test", "train", "test","train"]),
    'f': 'foo'
    
})
df2

     a          b    c  d      e    f
0  1.0 2020-06-22  1.0  3   test  foo
1  1.0 2020-06-22  1.0  3  train  foo
2  1.0 2020-06-22  1.0  3   test  foo
3  1.0 2020-06-22  1.0  3  train  foo

In [9]:
df2.dtypes # dtypes

a           float64
b    datetime64[ns]
c           float32
d             int32
e          category
f            object
dtype: object

df2.<tab>

# Viewing data

In [10]:
df.head()

                   A         B         C         D
2020-06-22 -1.152733 -0.757929 -0.009056 -0.650712
2020-06-23  1.493513  0.788941 -0.571677 -0.687143
2020-06-24 -0.272768 -0.714189 -1.664763 -0.205026
2020-06-25 -0.421158 -0.050582  0.377544 -0.006294
2020-06-26  2.234978 -0.232680  1.132018  0.863665

In [11]:
df.tail(2)

                   A         B         C         D
2020-06-26  2.234978 -0.232680  1.132018  0.863665
2020-06-27  0.061454  0.141691  2.167741 -0.304397

In [12]:
df.index

DatetimeIndex(['2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25',
               '2020-06-26', '2020-06-27'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [14]:
df2.to_numpy()

array([[1.0, Timestamp('2020-06-22 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-06-22 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2020-06-22 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-06-22 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [15]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.323881 -0.137458  0.238635 -0.164985
std    1.279114  0.577989  1.332648  0.567965
min   -1.152733 -0.757929 -1.664763 -0.687143
25%   -0.384061 -0.593812 -0.431022 -0.564133
50%   -0.105657 -0.141631  0.184244 -0.254712
75%    1.135498  0.093623  0.943400 -0.055977
max    2.234978  0.788941  2.167741  0.863665

In [16]:
df.T

   2020-06-22  2020-06-23  2020-06-24  2020-06-25  2020-06-26  2020-06-27
A   -1.152733    1.493513   -0.272768   -0.421158    2.234978    0.061454
B   -0.757929    0.788941   -0.714189   -0.050582   -0.232680    0.141691
C   -0.009056   -0.571677   -1.664763    0.377544    1.132018    2.167741
D   -0.650712   -0.687143   -0.205026   -0.006294    0.863665   -0.304397

In [17]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-06-22 -0.650712 -0.009056 -0.757929 -1.152733
2020-06-23 -0.687143 -0.571677  0.788941  1.493513
2020-06-24 -0.205026 -1.664763 -0.714189 -0.272768
2020-06-25 -0.006294  0.377544 -0.050582 -0.421158
2020-06-26  0.863665  1.132018 -0.232680  2.234978
2020-06-27 -0.304397  2.167741  0.141691  0.061454

In [18]:
df.sort_values('A')

                   A         B         C         D
2020-06-22 -1.152733 -0.757929 -0.009056 -0.650712
2020-06-25 -0.421158 -0.050582  0.377544 -0.006294
2020-06-24 -0.272768 -0.714189 -1.664763 -0.205026
2020-06-27  0.061454  0.141691  2.167741 -0.304397
2020-06-23  1.493513  0.788941 -0.571677 -0.687143
2020-06-26  2.234978 -0.232680  1.132018  0.863665

In [19]:
df

                   A         B         C         D
2020-06-22 -1.152733 -0.757929 -0.009056 -0.650712
2020-06-23  1.493513  0.788941 -0.571677 -0.687143
2020-06-24 -0.272768 -0.714189 -1.664763 -0.205026
2020-06-25 -0.421158 -0.050582  0.377544 -0.006294
2020-06-26  2.234978 -0.232680  1.132018  0.863665
2020-06-27  0.061454  0.141691  2.167741 -0.304397

In [20]:
df[0:3] # slice exclude end #.

                   A         B         C         D
2020-06-22 -1.152733 -0.757929 -0.009056 -0.650712
2020-06-23  1.493513  0.788941 -0.571677 -0.687143
2020-06-24 -0.272768 -0.714189 -1.664763 -0.205026

In [21]:
df['2020-06-22':'2020-06-25'] # slice include end value.

                   A         B         C         D
2020-06-22 -1.152733 -0.757929 -0.009056 -0.650712
2020-06-23  1.493513  0.788941 -0.571677 -0.687143
2020-06-24 -0.272768 -0.714189 -1.664763 -0.205026
2020-06-25 -0.421158 -0.050582  0.377544 -0.006294

# Selection by label

In [22]:
df.loc['2020-06-22': '2020-06-24', ['B','C']]

                   B         C
2020-06-22 -0.757929 -0.009056
2020-06-23  0.788941 -0.571677
2020-06-24 -0.714189 -1.664763

In [23]:
df.loc[dates[0], "A"]

-1.1527329750759951

In [24]:
df.at[dates[0], "A"]

-1.1527329750759951

# Selection by Position

In [25]:
df.iloc[3]

A   -0.421158
B   -0.050582
C    0.377544
D   -0.006294
Name: 2020-06-25 00:00:00, dtype: float64

In [26]:
df.loc[dates[3]]

A   -0.421158
B   -0.050582
C    0.377544
D   -0.006294
Name: 2020-06-25 00:00:00, dtype: float64

In [27]:
df.iloc[1:3, 1:3] # range slice

                   B         C
2020-06-23  0.788941 -0.571677
2020-06-24 -0.714189 -1.664763

In [28]:
df.iloc[[1,2,3], [0,2]] # select

                   A         C
2020-06-23  1.493513 -0.571677
2020-06-24 -0.272768 -1.664763
2020-06-25 -0.421158  0.377544

# Boolean indexing

In [29]:
df

                   A         B         C         D
2020-06-22 -1.152733 -0.757929 -0.009056 -0.650712
2020-06-23  1.493513  0.788941 -0.571677 -0.687143
2020-06-24 -0.272768 -0.714189 -1.664763 -0.205026
2020-06-25 -0.421158 -0.050582  0.377544 -0.006294
2020-06-26  2.234978 -0.232680  1.132018  0.863665
2020-06-27  0.061454  0.141691  2.167741 -0.304397

In [30]:
df[df['A']>0]

                   A         B         C         D
2020-06-23  1.493513  0.788941 -0.571677 -0.687143
2020-06-26  2.234978 -0.232680  1.132018  0.863665
2020-06-27  0.061454  0.141691  2.167741 -0.304397

In [31]:
df[df>0]

                   A         B         C         D
2020-06-22       NaN       NaN       NaN       NaN
2020-06-23  1.493513  0.788941       NaN       NaN
2020-06-24       NaN       NaN       NaN       NaN
2020-06-25       NaN       NaN  0.377544       NaN
2020-06-26  2.234978       NaN  1.132018  0.863665
2020-06-27  0.061454  0.141691  2.167741       NaN

In [32]:
df2 = df.copy()
df2['E'] = ['one','one','two','three','four','three']
df2

                   A         B         C         D      E
2020-06-22 -1.152733 -0.757929 -0.009056 -0.650712    one
2020-06-23  1.493513  0.788941 -0.571677 -0.687143    one
2020-06-24 -0.272768 -0.714189 -1.664763 -0.205026    two
2020-06-25 -0.421158 -0.050582  0.377544 -0.006294  three
2020-06-26  2.234978 -0.232680  1.132018  0.863665   four
2020-06-27  0.061454  0.141691  2.167741 -0.304397  three

In [33]:
df2.E.isin(['one', 'two'])

2020-06-22     True
2020-06-23     True
2020-06-24     True
2020-06-25    False
2020-06-26    False
2020-06-27    False
Freq: D, Name: E, dtype: bool

In [34]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2020-06-24 -0.272768 -0.714189 -1.664763 -0.205026   two
2020-06-26  2.234978 -0.232680  1.132018  0.863665  four

In [35]:
df2.E.isin(['two','four'])

2020-06-22    False
2020-06-23    False
2020-06-24     True
2020-06-25    False
2020-06-26     True
2020-06-27    False
Freq: D, Name: E, dtype: bool

# Setting

In [51]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index = pd.date_range('20200702', periods = 6))
s1

2020-07-02    1
2020-07-03    2
2020-07-04    3
2020-07-05    4
2020-07-06    5
2020-07-07    6
Freq: D, dtype: int64

In [52]:
df.at[dates[0], ['A']] = 0
df

                   A         B         C  D
2020-06-22  0.000000  0.000000 -0.009056  5
2020-06-23  1.493513  0.788941 -0.571677  5
2020-06-24 -0.272768 -0.714189 -1.664763  5
2020-06-25 -0.421158 -0.050582  0.377544  5
2020-06-26  2.234978 -0.232680  1.132018  5
2020-06-27  0.061454  0.141691  2.167741  5

In [53]:
df.iat[0, 1] = 0
df

                   A         B         C  D
2020-06-22  0.000000  0.000000 -0.009056  5
2020-06-23  1.493513  0.788941 -0.571677  5
2020-06-24 -0.272768 -0.714189 -1.664763  5
2020-06-25 -0.421158 -0.050582  0.377544  5
2020-06-26  2.234978 -0.232680  1.132018  5
2020-06-27  0.061454  0.141691  2.167741  5

In [54]:
df.loc[:,'D'] = np.array([5]  * len(df))
df

                   A         B         C  D
2020-06-22  0.000000  0.000000 -0.009056  5
2020-06-23  1.493513  0.788941 -0.571677  5
2020-06-24 -0.272768 -0.714189 -1.664763  5
2020-06-25 -0.421158 -0.050582  0.377544  5
2020-06-26  2.234978 -0.232680  1.132018  5
2020-06-27  0.061454  0.141691  2.167741  5

In [55]:
df2 = df.copy()
df2[df2>0]= -df2
df2

                   A         B         C  D
2020-06-22  0.000000  0.000000 -0.009056 -5
2020-06-23 -1.493513 -0.788941 -0.571677 -5
2020-06-24 -0.272768 -0.714189 -1.664763 -5
2020-06-25 -0.421158 -0.050582 -0.377544 -5
2020-06-26 -2.234978 -0.232680 -1.132018 -5
2020-06-27 -0.061454 -0.141691 -2.167741 -5

# Missing data

In [60]:
df1 = df.reindex(index = dates[0:4], columns = list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1], 'E'] = 1
df1

                   A         B         C  D    E
2020-06-22  0.000000  0.000000 -0.009056  5  1.0
2020-06-23  1.493513  0.788941 -0.571677  5  1.0
2020-06-24 -0.272768 -0.714189 -1.664763  5  NaN
2020-06-25 -0.421158 -0.050582  0.377544  5  NaN

In [61]:
df1.dropna(how = 'any')

                   A         B         C  D    E
2020-06-22  0.000000  0.000000 -0.009056  5  1.0
2020-06-23  1.493513  0.788941 -0.571677  5  1.0

In [62]:
df1.fillna(value = 5)

                   A         B         C  D    E
2020-06-22  0.000000  0.000000 -0.009056  5  1.0
2020-06-23  1.493513  0.788941 -0.571677  5  1.0
2020-06-24 -0.272768 -0.714189 -1.664763  5  5.0
2020-06-25 -0.421158 -0.050582  0.377544  5  5.0

In [63]:
pd.isna(df1)

                A      B      C      D      E
2020-06-22  False  False  False  False  False
2020-06-23  False  False  False  False  False
2020-06-24  False  False  False  False   True
2020-06-25  False  False  False  False   True