# Object creation

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 9])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    9.0
dtype: float64

In [3]:
dates = pd.date_range('20200622', periods=6)
dates

DatetimeIndex(['2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25',
               '2020-06-26', '2020-06-27'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index = dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-06-22 -0.892576  0.078860  0.839503  1.277675
2020-06-23 -1.184012  0.126498  0.126900  1.025740
2020-06-24  1.008974 -0.115755  0.423587  0.980605
2020-06-25 -0.525301 -1.631019 -0.860154 -0.013945
2020-06-26 -0.068390 -0.919002  1.569422 -0.901383
2020-06-27 -0.866530  2.257958  0.415392 -0.283363

In [5]:
df2 = pd.DataFrame({
    'a': 1.,
    'b': pd.Timestamp('20200622'),
    'c': pd.Series(1, index=list(range(4)), dtype = 'float32'),
    'd': np.array([3] * 4, dtype='int32'),
    'e': pd.Categorical(["test", "train", "test","train"]),
    'f': 'foo'
    
})
df2

     a          b    c  d      e    f
0  1.0 2020-06-22  1.0  3   test  foo
1  1.0 2020-06-22  1.0  3  train  foo
2  1.0 2020-06-22  1.0  3   test  foo
3  1.0 2020-06-22  1.0  3  train  foo

In [6]:
df2.dtypes # dtypes

a           float64
b    datetime64[ns]
c           float32
d             int32
e          category
f            object
dtype: object

df2.<tab>

# Viewing data

In [7]:
df.head()

                   A         B         C         D
2020-06-22 -0.892576  0.078860  0.839503  1.277675
2020-06-23 -1.184012  0.126498  0.126900  1.025740
2020-06-24  1.008974 -0.115755  0.423587  0.980605
2020-06-25 -0.525301 -1.631019 -0.860154 -0.013945
2020-06-26 -0.068390 -0.919002  1.569422 -0.901383

In [8]:
df.tail(2)

                  A         B         C         D
2020-06-26 -0.06839 -0.919002  1.569422 -0.901383
2020-06-27 -0.86653  2.257958  0.415392 -0.283363

In [9]:
df.index

DatetimeIndex(['2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25',
               '2020-06-26', '2020-06-27'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [11]:
df2.to_numpy()

array([[1.0, Timestamp('2020-06-22 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-06-22 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2020-06-22 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-06-22 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [12]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.421306 -0.033743  0.419108  0.347555
std    0.797885  1.313922  0.802731  0.873430
min   -1.184012 -1.631019 -0.860154 -0.901383
25%   -0.886064 -0.718190  0.199023 -0.216008
50%   -0.695915 -0.018448  0.419490  0.483330
75%   -0.182617  0.114589  0.735524  1.014457
max    1.008974  2.257958  1.569422  1.277675

In [13]:
df.T

   2020-06-22  2020-06-23  2020-06-24  2020-06-25  2020-06-26  2020-06-27
A   -0.892576   -1.184012    1.008974   -0.525301   -0.068390   -0.866530
B    0.078860    0.126498   -0.115755   -1.631019   -0.919002    2.257958
C    0.839503    0.126900    0.423587   -0.860154    1.569422    0.415392
D    1.277675    1.025740    0.980605   -0.013945   -0.901383   -0.283363

In [14]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-06-22  1.277675  0.839503  0.078860 -0.892576
2020-06-23  1.025740  0.126900  0.126498 -1.184012
2020-06-24  0.980605  0.423587 -0.115755  1.008974
2020-06-25 -0.013945 -0.860154 -1.631019 -0.525301
2020-06-26 -0.901383  1.569422 -0.919002 -0.068390
2020-06-27 -0.283363  0.415392  2.257958 -0.866530

In [15]:
df.sort_values('A')

                   A         B         C         D
2020-06-23 -1.184012  0.126498  0.126900  1.025740
2020-06-22 -0.892576  0.078860  0.839503  1.277675
2020-06-27 -0.866530  2.257958  0.415392 -0.283363
2020-06-25 -0.525301 -1.631019 -0.860154 -0.013945
2020-06-26 -0.068390 -0.919002  1.569422 -0.901383
2020-06-24  1.008974 -0.115755  0.423587  0.980605

In [16]:
df

                   A         B         C         D
2020-06-22 -0.892576  0.078860  0.839503  1.277675
2020-06-23 -1.184012  0.126498  0.126900  1.025740
2020-06-24  1.008974 -0.115755  0.423587  0.980605
2020-06-25 -0.525301 -1.631019 -0.860154 -0.013945
2020-06-26 -0.068390 -0.919002  1.569422 -0.901383
2020-06-27 -0.866530  2.257958  0.415392 -0.283363

In [17]:
df[0:3] # slice exclude end #.

                   A         B         C         D
2020-06-22 -0.892576  0.078860  0.839503  1.277675
2020-06-23 -1.184012  0.126498  0.126900  1.025740
2020-06-24  1.008974 -0.115755  0.423587  0.980605

In [18]:
df['2020-06-22':'2020-06-25'] # slice include end value.

                   A         B         C         D
2020-06-22 -0.892576  0.078860  0.839503  1.277675
2020-06-23 -1.184012  0.126498  0.126900  1.025740
2020-06-24  1.008974 -0.115755  0.423587  0.980605
2020-06-25 -0.525301 -1.631019 -0.860154 -0.013945

# Selection by label

In [19]:
df.loc['2020-06-22': '2020-06-24', ['B','C']]

                   B         C
2020-06-22  0.078860  0.839503
2020-06-23  0.126498  0.126900
2020-06-24 -0.115755  0.423587

In [20]:
df.loc[dates[0], "A"]

-0.8925759111367767

In [21]:
df.at[dates[0], "A"]

-0.8925759111367767

# Selection by Position

In [22]:
df.iloc[3]

A   -0.525301
B   -1.631019
C   -0.860154
D   -0.013945
Name: 2020-06-25 00:00:00, dtype: float64

In [23]:
df.loc[dates[3]]

A   -0.525301
B   -1.631019
C   -0.860154
D   -0.013945
Name: 2020-06-25 00:00:00, dtype: float64

In [24]:
df.iloc[1:3, 1:3] # range slice

                   B         C
2020-06-23  0.126498  0.126900
2020-06-24 -0.115755  0.423587

In [25]:
df.iloc[[1,2,3], [0,2]] # select

                   A         C
2020-06-23 -1.184012  0.126900
2020-06-24  1.008974  0.423587
2020-06-25 -0.525301 -0.860154

# Boolean indexing

In [26]:
df

                   A         B         C         D
2020-06-22 -0.892576  0.078860  0.839503  1.277675
2020-06-23 -1.184012  0.126498  0.126900  1.025740
2020-06-24  1.008974 -0.115755  0.423587  0.980605
2020-06-25 -0.525301 -1.631019 -0.860154 -0.013945
2020-06-26 -0.068390 -0.919002  1.569422 -0.901383
2020-06-27 -0.866530  2.257958  0.415392 -0.283363

In [27]:
df[df['A']>0]

                   A         B         C         D
2020-06-24  1.008974 -0.115755  0.423587  0.980605

In [28]:
df[df>0]

                   A         B         C         D
2020-06-22       NaN  0.078860  0.839503  1.277675
2020-06-23       NaN  0.126498  0.126900  1.025740
2020-06-24  1.008974       NaN  0.423587  0.980605
2020-06-25       NaN       NaN       NaN       NaN
2020-06-26       NaN       NaN  1.569422       NaN
2020-06-27       NaN  2.257958  0.415392       NaN

In [29]:
df2 = df.copy()
df2['E'] = ['one','one','two','three','four','three']
df2

                   A         B         C         D      E
2020-06-22 -0.892576  0.078860  0.839503  1.277675    one
2020-06-23 -1.184012  0.126498  0.126900  1.025740    one
2020-06-24  1.008974 -0.115755  0.423587  0.980605    two
2020-06-25 -0.525301 -1.631019 -0.860154 -0.013945  three
2020-06-26 -0.068390 -0.919002  1.569422 -0.901383   four
2020-06-27 -0.866530  2.257958  0.415392 -0.283363  three

In [30]:
df2.E.isin(['one', 'two'])

2020-06-22     True
2020-06-23     True
2020-06-24     True
2020-06-25    False
2020-06-26    False
2020-06-27    False
Freq: D, Name: E, dtype: bool

In [31]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2020-06-24  1.008974 -0.115755  0.423587  0.980605   two
2020-06-26 -0.068390 -0.919002  1.569422 -0.901383  four

In [32]:
df2.E.isin(['two','four'])

2020-06-22    False
2020-06-23    False
2020-06-24     True
2020-06-25    False
2020-06-26     True
2020-06-27    False
Freq: D, Name: E, dtype: bool

# Setting

In [33]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index = pd.date_range('20200702', periods = 6))
s1

2020-07-02    1
2020-07-03    2
2020-07-04    3
2020-07-05    4
2020-07-06    5
2020-07-07    6
Freq: D, dtype: int64

In [34]:
df.at[dates[0], ['A']] = 0
df

                   A         B         C         D
2020-06-22  0.000000  0.078860  0.839503  1.277675
2020-06-23 -1.184012  0.126498  0.126900  1.025740
2020-06-24  1.008974 -0.115755  0.423587  0.980605
2020-06-25 -0.525301 -1.631019 -0.860154 -0.013945
2020-06-26 -0.068390 -0.919002  1.569422 -0.901383
2020-06-27 -0.866530  2.257958  0.415392 -0.283363

In [35]:
df.iat[0, 1] = 0
df

                   A         B         C         D
2020-06-22  0.000000  0.000000  0.839503  1.277675
2020-06-23 -1.184012  0.126498  0.126900  1.025740
2020-06-24  1.008974 -0.115755  0.423587  0.980605
2020-06-25 -0.525301 -1.631019 -0.860154 -0.013945
2020-06-26 -0.068390 -0.919002  1.569422 -0.901383
2020-06-27 -0.866530  2.257958  0.415392 -0.283363

In [36]:
df.loc[:,'D'] = np.array([5]  * len(df))
df

                   A         B         C  D
2020-06-22  0.000000  0.000000  0.839503  5
2020-06-23 -1.184012  0.126498  0.126900  5
2020-06-24  1.008974 -0.115755  0.423587  5
2020-06-25 -0.525301 -1.631019 -0.860154  5
2020-06-26 -0.068390 -0.919002  1.569422  5
2020-06-27 -0.866530  2.257958  0.415392  5

In [37]:
df2 = df.copy()
df2[df2>0]= -df2
df2

                   A         B         C  D
2020-06-22  0.000000  0.000000 -0.839503 -5
2020-06-23 -1.184012 -0.126498 -0.126900 -5
2020-06-24 -1.008974 -0.115755 -0.423587 -5
2020-06-25 -0.525301 -1.631019 -0.860154 -5
2020-06-26 -0.068390 -0.919002 -1.569422 -5
2020-06-27 -0.866530 -2.257958 -0.415392 -5

# Missing data

In [38]:
df1 = df.reindex(index = dates[0:4], columns = list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1], 'E'] = 1
df1

                   A         B         C  D    E
2020-06-22  0.000000  0.000000  0.839503  5  1.0
2020-06-23 -1.184012  0.126498  0.126900  5  1.0
2020-06-24  1.008974 -0.115755  0.423587  5  NaN
2020-06-25 -0.525301 -1.631019 -0.860154  5  NaN

In [39]:
df1.dropna(how = 'any')

                   A         B         C  D    E
2020-06-22  0.000000  0.000000  0.839503  5  1.0
2020-06-23 -1.184012  0.126498  0.126900  5  1.0

In [40]:
df1.fillna(value = 5)

                   A         B         C  D    E
2020-06-22  0.000000  0.000000  0.839503  5  1.0
2020-06-23 -1.184012  0.126498  0.126900  5  1.0
2020-06-24  1.008974 -0.115755  0.423587  5  5.0
2020-06-25 -0.525301 -1.631019 -0.860154  5  5.0

In [41]:
pd.isna(df1)

                A      B      C      D      E
2020-06-22  False  False  False  False  False
2020-06-23  False  False  False  False  False
2020-06-24  False  False  False  False   True
2020-06-25  False  False  False  False   True

# Operations

## stats

In [42]:
df

                   A         B         C  D
2020-06-22  0.000000  0.000000  0.839503  5
2020-06-23 -1.184012  0.126498  0.126900  5
2020-06-24  1.008974 -0.115755  0.423587  5
2020-06-25 -0.525301 -1.631019 -0.860154  5
2020-06-26 -0.068390 -0.919002  1.569422  5
2020-06-27 -0.866530  2.257958  0.415392  5

In [43]:
df.mean()

A   -0.272543
B   -0.046886
C    0.419108
D    5.000000
dtype: float64

In [44]:
df.mean(1) # other axis

2020-06-22    1.459876
2020-06-23    1.017347
2020-06-24    1.579202
2020-06-25    0.495882
2020-06-26    1.395508
2020-06-27    1.701705
Freq: D, dtype: float64

In [45]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index = dates).shift(2)
s

2020-06-22    NaN
2020-06-23    NaN
2020-06-24    1.0
2020-06-25    3.0
2020-06-26    5.0
2020-06-27    NaN
Freq: D, dtype: float64

In [46]:
s1 = pd.Series([1, 3, 5, np.nan, 6, 8], index = dates).shift(1)
s1

2020-06-22    NaN
2020-06-23    1.0
2020-06-24    3.0
2020-06-25    5.0
2020-06-26    NaN
2020-06-27    6.0
Freq: D, dtype: float64

### Broadcastin Substraction

In [47]:
df.sub(s, axis='index')

                   A         B         C    D
2020-06-22       NaN       NaN       NaN  NaN
2020-06-23       NaN       NaN       NaN  NaN
2020-06-24  0.008974 -1.115755 -0.576413  4.0
2020-06-25 -3.525301 -4.631019 -3.860154  2.0
2020-06-26 -5.068390 -5.919002 -3.430578  0.0
2020-06-27       NaN       NaN       NaN  NaN

# Apply

In [50]:
df.apply(np.cumsum)

                   A         B         C   D
2020-06-22  0.000000  0.000000  0.839503   5
2020-06-23 -1.184012  0.126498  0.966403  10
2020-06-24 -0.175038  0.010743  1.389990  15
2020-06-25 -0.700339 -1.620275  0.529837  20
2020-06-26 -0.768729 -2.539277  2.099259  25
2020-06-27 -1.635259 -0.281319  2.514651  30

In [53]:
df.apply(lambda x : x.max() - x.min())

A    2.192986
B    3.888977
C    2.429576
D    0.000000
dtype: float64

In [54]:
df.head()

                   A         B         C  D
2020-06-22  0.000000  0.000000  0.839503  5
2020-06-23 -1.184012  0.126498  0.126900  5
2020-06-24  1.008974 -0.115755  0.423587  5
2020-06-25 -0.525301 -1.631019 -0.860154  5
2020-06-26 -0.068390 -0.919002  1.569422  5

In [65]:
df.loc[dates[1],'A'] - df.loc[dates[3], 'B']

0.44700642350207875

In [ ]:
df.max(), df.min()

# Histogramming

In [86]:
s = pd.Series(np.random.randint(1, 7, size = 10))
s

0    5
1    1
2    3
3    2
4    5
5    4
6    1
7    2
8    1
9    5
dtype: int64

In [87]:
s.value_counts()

5    3
1    3
2    2
4    1
3    1
dtype: int64

# Merge

## Concat

In [89]:
df = pd.DataFrame(np.random.randn(10, 4))
df

          0         1         2         3
0  0.318145  1.281788 -0.915967  0.723922
1  0.016569 -1.118200 -0.501705 -0.855091
2  0.628624  0.048258 -1.528612 -0.092420
3 -0.237816  0.667123 -1.230757 -1.152331
4  1.351250 -1.018442  1.152209  0.349357
5 -0.371501 -0.003624  1.377264  0.185333
6  2.663846  0.320106  1.521863  0.781530
7 -0.352838  0.467902 -0.072305  1.897333
8  0.441922  0.191604  0.806342  1.825019
9  0.448354 -1.174348  0.465559  0.004871

In [92]:
pieces = [df[:3], df[3:7], df[7:]]
pieces

[          0         1         2         3
 0  0.318145  1.281788 -0.915967  0.723922
 1  0.016569 -1.118200 -0.501705 -0.855091
 2  0.628624  0.048258 -1.528612 -0.092420,
           0         1         2         3
 3 -0.237816  0.667123 -1.230757 -1.152331
 4  1.351250 -1.018442  1.152209  0.349357
 5 -0.371501 -0.003624  1.377264  0.185333
 6  2.663846  0.320106  1.521863  0.781530,
           0         1         2         3
 7 -0.352838  0.467902 -0.072305  1.897333
 8  0.441922  0.191604  0.806342  1.825019
 9  0.448354 -1.174348  0.465559  0.004871]

In [94]:
pd.concat(pieces)

          0         1         2         3
0  0.318145  1.281788 -0.915967  0.723922
1  0.016569 -1.118200 -0.501705 -0.855091
2  0.628624  0.048258 -1.528612 -0.092420
3 -0.237816  0.667123 -1.230757 -1.152331
4  1.351250 -1.018442  1.152209  0.349357
5 -0.371501 -0.003624  1.377264  0.185333
6  2.663846  0.320106  1.521863  0.781530
7 -0.352838  0.467902 -0.072305  1.897333
8  0.441922  0.191604  0.806342  1.825019
9  0.448354 -1.174348  0.465559  0.004871

# Join

In [96]:
left = pd.DataFrame({'key':['foo', 'foo'], 'lval':[1, 2]})

In [97]:
right = pd.DataFrame({'key':['foo', 'foo'], 'rval':[4, 5]})

In [98]:
left

   key  lval
0  foo     1
1  foo     2

In [99]:
right

   key  rval
0  foo     4
1  foo     5

In [102]:
pd.merge(left, right, on = 'key')

   key  lval  rval
0  foo     1     4
1  foo     1     5
2  foo     2     4
3  foo     2     5

# Grouping

In [104]:
df = pd.DataFrame({'A':['foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'foo'],
                 'B':['one', 'one', 'two', 'three', 'two', 'two', 'one', 'three'], 
                 'C': np.random.randn(8),
                 'D': np.random.randn(8)})
df

     A      B         C         D
0  foo    one -1.095000  0.847070
1  bar    one  1.219422  0.306738
2  foo    two  0.937019 -0.937102
3  bar  three  0.518020  1.087847
4  foo    two  1.994034  2.496346
5  bar    two -0.995883  2.133920
6  foo    one  0.716945  0.665326
7  foo  three  0.500696  1.133601

In [112]:
df.groupby(['A','B']).sum()

                  C         D
A   B
bar one    1.219422  0.306738
    three  0.518020  1.087847
    two   -0.995883  2.133920
foo one   -0.378055  1.512396
    three  0.500696  1.133601
    two    2.931053  1.559244