# Object creation

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 9])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    9.0
dtype: float64

In [3]:
dates = pd.date_range('20200622', periods=6)
dates

DatetimeIndex(['2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25',
               '2020-06-26', '2020-06-27'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index = dates, columns=list('ABCD'))
df

                   A         B         C         D
2020-06-22  1.965288  0.007445 -0.574038  0.008463
2020-06-23  0.185965 -0.826408  0.220843 -0.003961
2020-06-24 -1.382684 -1.145523  0.388194  0.003683
2020-06-25  0.236182 -0.945016 -0.805421  1.270211
2020-06-26 -1.049521  2.179875  0.091835  0.303677
2020-06-27  0.357065  0.206539  0.940416  1.627540

In [5]:
df2 = pd.DataFrame({
    'a': 1.,
    'b': pd.Timestamp('20200622'),
    'c': pd.Series(1, index=list(range(4)), dtype = 'float32'),
    'd': np.array([3] * 4, dtype='int32'),
    'e': pd.Categorical(["test", "train", "test","train"]),
    'f': 'foo'
    
})
df2

     a          b    c  d      e    f
0  1.0 2020-06-22  1.0  3   test  foo
1  1.0 2020-06-22  1.0  3  train  foo
2  1.0 2020-06-22  1.0  3   test  foo
3  1.0 2020-06-22  1.0  3  train  foo

In [6]:
df2.dtypes # dtypes

a           float64
b    datetime64[ns]
c           float32
d             int32
e          category
f            object
dtype: object

df2.<tab>

# Viewing data

In [7]:
df.head()

                   A         B         C         D
2020-06-22  1.965288  0.007445 -0.574038  0.008463
2020-06-23  0.185965 -0.826408  0.220843 -0.003961
2020-06-24 -1.382684 -1.145523  0.388194  0.003683
2020-06-25  0.236182 -0.945016 -0.805421  1.270211
2020-06-26 -1.049521  2.179875  0.091835  0.303677

In [8]:
df.tail(2)

                   A         B         C         D
2020-06-26 -1.049521  2.179875  0.091835  0.303677
2020-06-27  0.357065  0.206539  0.940416  1.627540

In [9]:
df.index

DatetimeIndex(['2020-06-22', '2020-06-23', '2020-06-24', '2020-06-25',
               '2020-06-26', '2020-06-27'],
              dtype='datetime64[ns]', freq='D')

In [10]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [11]:
df2.to_numpy()

array([[1.0, Timestamp('2020-06-22 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-06-22 00:00:00'), 1.0, 3, 'train', 'foo'],
       [1.0, Timestamp('2020-06-22 00:00:00'), 1.0, 3, 'test', 'foo'],
       [1.0, Timestamp('2020-06-22 00:00:00'), 1.0, 3, 'train', 'foo']],
      dtype=object)

In [12]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.052049 -0.087181  0.043638  0.534935
std    1.189729  1.235896  0.641729  0.726321
min   -1.382684 -1.145523 -0.805421 -0.003961
25%   -0.740650 -0.915364 -0.407569  0.004878
50%    0.211074 -0.409482  0.156339  0.156070
75%    0.326844  0.156766  0.346356  1.028577
max    1.965288  2.179875  0.940416  1.627540

In [13]:
df.T

   2020-06-22  2020-06-23  2020-06-24  2020-06-25  2020-06-26  2020-06-27
A    1.965288    0.185965   -1.382684    0.236182   -1.049521    0.357065
B    0.007445   -0.826408   -1.145523   -0.945016    2.179875    0.206539
C   -0.574038    0.220843    0.388194   -0.805421    0.091835    0.940416
D    0.008463   -0.003961    0.003683    1.270211    0.303677    1.627540

In [14]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2020-06-22  0.008463 -0.574038  0.007445  1.965288
2020-06-23 -0.003961  0.220843 -0.826408  0.185965
2020-06-24  0.003683  0.388194 -1.145523 -1.382684
2020-06-25  1.270211 -0.805421 -0.945016  0.236182
2020-06-26  0.303677  0.091835  2.179875 -1.049521
2020-06-27  1.627540  0.940416  0.206539  0.357065

In [15]:
df.sort_values('A')

                   A         B         C         D
2020-06-24 -1.382684 -1.145523  0.388194  0.003683
2020-06-26 -1.049521  2.179875  0.091835  0.303677
2020-06-23  0.185965 -0.826408  0.220843 -0.003961
2020-06-25  0.236182 -0.945016 -0.805421  1.270211
2020-06-27  0.357065  0.206539  0.940416  1.627540
2020-06-22  1.965288  0.007445 -0.574038  0.008463

In [16]:
df

                   A         B         C         D
2020-06-22  1.965288  0.007445 -0.574038  0.008463
2020-06-23  0.185965 -0.826408  0.220843 -0.003961
2020-06-24 -1.382684 -1.145523  0.388194  0.003683
2020-06-25  0.236182 -0.945016 -0.805421  1.270211
2020-06-26 -1.049521  2.179875  0.091835  0.303677
2020-06-27  0.357065  0.206539  0.940416  1.627540

In [17]:
df[0:3] # slice exclude end #.

                   A         B         C         D
2020-06-22  1.965288  0.007445 -0.574038  0.008463
2020-06-23  0.185965 -0.826408  0.220843 -0.003961
2020-06-24 -1.382684 -1.145523  0.388194  0.003683

In [18]:
df['2020-06-22':'2020-06-25'] # slice include end value.

                   A         B         C         D
2020-06-22  1.965288  0.007445 -0.574038  0.008463
2020-06-23  0.185965 -0.826408  0.220843 -0.003961
2020-06-24 -1.382684 -1.145523  0.388194  0.003683
2020-06-25  0.236182 -0.945016 -0.805421  1.270211

# Selection by label

In [19]:
df.loc['2020-06-22': '2020-06-24', ['B','C']]

                   B         C
2020-06-22  0.007445 -0.574038
2020-06-23 -0.826408  0.220843
2020-06-24 -1.145523  0.388194

In [20]:
df.loc[dates[0], "A"]

1.9652883919330117

In [21]:
df.at[dates[0], "A"]

1.9652883919330117

# Selection by Position

In [22]:
df.iloc[3]

A    0.236182
B   -0.945016
C   -0.805421
D    1.270211
Name: 2020-06-25 00:00:00, dtype: float64

In [23]:
df.loc[dates[3]]

A    0.236182
B   -0.945016
C   -0.805421
D    1.270211
Name: 2020-06-25 00:00:00, dtype: float64

In [24]:
df.iloc[1:3, 1:3] # range slice

                   B         C
2020-06-23 -0.826408  0.220843
2020-06-24 -1.145523  0.388194

In [25]:
df.iloc[[1,2,3], [0,2]] # select

                   A         C
2020-06-23  0.185965  0.220843
2020-06-24 -1.382684  0.388194
2020-06-25  0.236182 -0.805421

# Boolean indexing

In [26]:
df

                   A         B         C         D
2020-06-22  1.965288  0.007445 -0.574038  0.008463
2020-06-23  0.185965 -0.826408  0.220843 -0.003961
2020-06-24 -1.382684 -1.145523  0.388194  0.003683
2020-06-25  0.236182 -0.945016 -0.805421  1.270211
2020-06-26 -1.049521  2.179875  0.091835  0.303677
2020-06-27  0.357065  0.206539  0.940416  1.627540

In [27]:
df[df['A']>0]

                   A         B         C         D
2020-06-22  1.965288  0.007445 -0.574038  0.008463
2020-06-23  0.185965 -0.826408  0.220843 -0.003961
2020-06-25  0.236182 -0.945016 -0.805421  1.270211
2020-06-27  0.357065  0.206539  0.940416  1.627540

In [28]:
df[df>0]

                   A         B         C         D
2020-06-22  1.965288  0.007445       NaN  0.008463
2020-06-23  0.185965       NaN  0.220843       NaN
2020-06-24       NaN       NaN  0.388194  0.003683
2020-06-25  0.236182       NaN       NaN  1.270211
2020-06-26       NaN  2.179875  0.091835  0.303677
2020-06-27  0.357065  0.206539  0.940416  1.627540

In [29]:
df2 = df.copy()
df2['E'] = ['one','one','two','three','four','three']
df2

                   A         B         C         D      E
2020-06-22  1.965288  0.007445 -0.574038  0.008463    one
2020-06-23  0.185965 -0.826408  0.220843 -0.003961    one
2020-06-24 -1.382684 -1.145523  0.388194  0.003683    two
2020-06-25  0.236182 -0.945016 -0.805421  1.270211  three
2020-06-26 -1.049521  2.179875  0.091835  0.303677   four
2020-06-27  0.357065  0.206539  0.940416  1.627540  three

In [30]:
df2.E.isin(['one', 'two'])

2020-06-22     True
2020-06-23     True
2020-06-24     True
2020-06-25    False
2020-06-26    False
2020-06-27    False
Freq: D, Name: E, dtype: bool

In [31]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2020-06-24 -1.382684 -1.145523  0.388194  0.003683   two
2020-06-26 -1.049521  2.179875  0.091835  0.303677  four

In [32]:
df2.E.isin(['two','four'])

2020-06-22    False
2020-06-23    False
2020-06-24     True
2020-06-25    False
2020-06-26     True
2020-06-27    False
Freq: D, Name: E, dtype: bool

# Setting

In [33]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index = pd.date_range('20200702', periods = 6))
s1

2020-07-02    1
2020-07-03    2
2020-07-04    3
2020-07-05    4
2020-07-06    5
2020-07-07    6
Freq: D, dtype: int64

In [34]:
df.at[dates[0], ['A']] = 0
df

                   A         B         C         D
2020-06-22  0.000000  0.007445 -0.574038  0.008463
2020-06-23  0.185965 -0.826408  0.220843 -0.003961
2020-06-24 -1.382684 -1.145523  0.388194  0.003683
2020-06-25  0.236182 -0.945016 -0.805421  1.270211
2020-06-26 -1.049521  2.179875  0.091835  0.303677
2020-06-27  0.357065  0.206539  0.940416  1.627540

In [35]:
df.iat[0, 1] = 0
df

                   A         B         C         D
2020-06-22  0.000000  0.000000 -0.574038  0.008463
2020-06-23  0.185965 -0.826408  0.220843 -0.003961
2020-06-24 -1.382684 -1.145523  0.388194  0.003683
2020-06-25  0.236182 -0.945016 -0.805421  1.270211
2020-06-26 -1.049521  2.179875  0.091835  0.303677
2020-06-27  0.357065  0.206539  0.940416  1.627540

In [36]:
df.loc[:,'D'] = np.array([5]  * len(df))
df

                   A         B         C  D
2020-06-22  0.000000  0.000000 -0.574038  5
2020-06-23  0.185965 -0.826408  0.220843  5
2020-06-24 -1.382684 -1.145523  0.388194  5
2020-06-25  0.236182 -0.945016 -0.805421  5
2020-06-26 -1.049521  2.179875  0.091835  5
2020-06-27  0.357065  0.206539  0.940416  5

In [37]:
df2 = df.copy()
df2[df2>0]= -df2
df2

                   A         B         C  D
2020-06-22  0.000000  0.000000 -0.574038 -5
2020-06-23 -0.185965 -0.826408 -0.220843 -5
2020-06-24 -1.382684 -1.145523 -0.388194 -5
2020-06-25 -0.236182 -0.945016 -0.805421 -5
2020-06-26 -1.049521 -2.179875 -0.091835 -5
2020-06-27 -0.357065 -0.206539 -0.940416 -5

# Missing data

In [38]:
df1 = df.reindex(index = dates[0:4], columns = list(df.columns) + ['E'])
df1.loc[dates[0]:dates[1], 'E'] = 1
df1

                   A         B         C  D    E
2020-06-22  0.000000  0.000000 -0.574038  5  1.0
2020-06-23  0.185965 -0.826408  0.220843  5  1.0
2020-06-24 -1.382684 -1.145523  0.388194  5  NaN
2020-06-25  0.236182 -0.945016 -0.805421  5  NaN

In [39]:
df1.dropna(how = 'any')

                   A         B         C  D    E
2020-06-22  0.000000  0.000000 -0.574038  5  1.0
2020-06-23  0.185965 -0.826408  0.220843  5  1.0

In [40]:
df1.fillna(value = 5)

                   A         B         C  D    E
2020-06-22  0.000000  0.000000 -0.574038  5  1.0
2020-06-23  0.185965 -0.826408  0.220843  5  1.0
2020-06-24 -1.382684 -1.145523  0.388194  5  5.0
2020-06-25  0.236182 -0.945016 -0.805421  5  5.0

In [41]:
pd.isna(df1)

                A      B      C      D      E
2020-06-22  False  False  False  False  False
2020-06-23  False  False  False  False  False
2020-06-24  False  False  False  False   True
2020-06-25  False  False  False  False   True

# Operations

## stats

In [46]:
df

                   A         B         C  D
2020-06-22  0.000000  0.000000 -0.574038  5
2020-06-23  0.185965 -0.826408  0.220843  5
2020-06-24 -1.382684 -1.145523  0.388194  5
2020-06-25  0.236182 -0.945016 -0.805421  5
2020-06-26 -1.049521  2.179875  0.091835  5
2020-06-27  0.357065  0.206539  0.940416  5

In [44]:
df.mean()

A   -0.275499
B   -0.088422
C    0.043638
D    5.000000
dtype: float64

In [47]:
df.mean(1) # other axis

2020-06-22    1.106491
2020-06-23    1.145100
2020-06-24    0.714997
2020-06-25    0.871436
2020-06-26    1.555547
2020-06-27    1.626005
Freq: D, dtype: float64

In [49]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index = dates).shift(2)
s

2020-06-22    NaN
2020-06-23    NaN
2020-06-24    1.0
2020-06-25    3.0
2020-06-26    5.0
2020-06-27    NaN
Freq: D, dtype: float64

In [51]:
s1 = pd.Series([1, 3, 5, np.nan, 6, 8], index = dates).shift(1)
s1

2020-06-22    NaN
2020-06-23    1.0
2020-06-24    3.0
2020-06-25    5.0
2020-06-26    NaN
2020-06-27    6.0
Freq: D, dtype: float64

### Broadcastin Substraction

In [54]:
df.sub(s, axis='index')

                   A         B         C    D
2020-06-22       NaN       NaN       NaN  NaN
2020-06-23       NaN       NaN       NaN  NaN
2020-06-24 -2.382684 -2.145523 -0.611806  4.0
2020-06-25 -2.763818 -3.945016 -3.805421  2.0
2020-06-26 -6.049521 -2.820125 -4.908165  0.0
2020-06-27       NaN       NaN       NaN  NaN

# Apply

In [55]:
df.apply(np.cumsum)

                   A         B         C   D
2020-06-22  0.000000  0.000000 -0.574038   5
2020-06-23  0.185965 -0.826408 -0.353194  10
2020-06-24 -1.196719 -1.971930  0.034999  15
2020-06-25 -0.960536 -2.916947 -0.770422  20
2020-06-26 -2.010058 -0.737072 -0.678586  25
2020-06-27 -1.652993 -0.530533  0.261830  30

In [56]:
df.apply(lambda x : x.max() - x.min())

A    1.739748
B    3.325398
C    1.745838
D    0.000000
dtype: float64

In [57]:
df

                   A         B         C  D
2020-06-22  0.000000  0.000000 -0.574038  5
2020-06-23  0.185965 -0.826408  0.220843  5
2020-06-24 -1.382684 -1.145523  0.388194  5
2020-06-25  0.236182 -0.945016 -0.805421  5
2020-06-26 -1.049521  2.179875  0.091835  5
2020-06-27  0.357065  0.206539  0.940416  5

In [67]:
# df.iloc[[1], [1]]
df.loc[dates[5], "A"] - df.loc[dates[2], "A"]
# df.iloc[[1,2,3], [0,2]]

1.739748297077746

In [66]:
df.max(), df.min()

(A    0.357065
 B    2.179875
 C    0.940416
 D    5.000000
 dtype: float64,
 A   -1.382684
 B   -1.145523
 C   -0.805421
 D    5.000000
 dtype: float64)