In [3]:
pd.options.display.max_rows = 9999
pd.options.display.max_columns = 9999

import matplotlib.pyplot as plt
from matplotlib import rc
import seaborn as sns
%matplotlib inline
rc('font', family='AppleGothic')

plt.rcParams['axes.unicode_minus'] = False

In [51]:
# SCORE_Label={"S":30.0,"A+":25.7,"A":21.4,"B+":17.1,"B":21.9,"C":8.6,"D":4.3, "C이하":4.3}

# ESG등급 수치화

In [52]:
# s = pd.Series(["S","A+","A","B+","B","C","D"], dtype="category")
# vals = [30.0, 25.7, 21.4, 17.1, 21.9, 8.6, 4.3]

In [111]:
# df = pd.read_xls("2020612_ESG_Grade.xls",  engine='python', encoding = "cp949")
df = pd.read_csv("2020612_ESG_Grade.csv")
df.head()

    NO      기업명    기업코드 ESG등급 지배구조   사회   환경  평가년도   비고
0  924   AJ네트웍스   95570     B    B    B  C이하  2019  NaN
1  923    AJ렌터카   68400   C이하    C    B    B  2019  NaN
2  922    AK홀딩스    6840     B    B    B  C이하  2019  NaN
3  921    AP시스템  265520   C이하    B  C이하  C이하  2019  NaN
4  920      BGF   27410     B    B    A  C이하  2019  NaN

In [112]:
df  = df.drop(['NO', '평가년도', '비고'], axis=1)
df = df.dropna()
df.head()

       기업명    기업코드 ESG등급 지배구조   사회   환경
0   AJ네트웍스   95570     B    B    B  C이하
1    AJ렌터카   68400   C이하    C    B    B
2    AK홀딩스    6840     B    B    B  C이하
3    AP시스템  265520   C이하    B  C이하  C이하
4      BGF   27410     B    B    A  C이하

In [113]:
df['ESG등급'] = df['ESG등급'].apply({"S":30.0,"A+":25.7,"A":21.4,"B+":17.1,"B":21.9,"C":8.6,"D":4.3, "C이하":6.4}.get) 
df['지배구조'] = df['지배구조'].apply({"S":30.0,"A+":25.7,"A":21.4,"B+":17.1,"B":21.9,"C":8.6,"D":4.3, "C이하":6.4}.get) 
df['사회'] = df['사회'].apply({"S":30.0,"A+":25.7,"A":21.4,"B+":17.1,"B":21.9,"C":8.6,"D":4.3, "C이하":6.4}.get) 
df['환경'] = df['환경'].apply({"S":30.0,"A+":25.7,"A":21.4,"B+":17.1,"B":21.9,"C":8.6,"D":4.3, "C이하":6.4}.get) 
# "C이하"=(8.6+4.3)/2
df['ESG등급'] = pd.to_numeric(df['ESG등급'])
df['지배구조'] = pd.to_numeric(df['지배구조'])
df['사회'] = pd.to_numeric(df['사회'])
df['환경'] = pd.to_numeric(df['환경'])

In [114]:
df.head()

       기업명    기업코드  ESG등급  지배구조    사회    환경
0   AJ네트웍스   95570   21.9  21.9  21.9   6.4
1    AJ렌터카   68400    6.4   8.6  21.9  21.9
2    AK홀딩스    6840   21.9  21.9  21.9   6.4
3    AP시스템  265520    6.4  21.9   6.4   6.4
4      BGF   27410   21.9  21.9  21.4   6.4

# 계정과목 전처리

"부채비율", "비유동부채/자본총계", "이익잉여금/총자산", "비유동부채/자산총계", "재고자산/유동부채"